:root {
    --dark-font-color: #424242;
    --light-font-color: rgb(241, 241, 241);
    --header-bg-color: #233840;
    --main-bg-color: #0F2617; 
    --footer-bg-color: #517d8f;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-font-color);
    margin: 0;
}

body {
    width: 100vw;
}

/*header*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1rem;
    background-color: var(--header-bg-color);
}

.player1 div,
.title,
.player2 div {
    color: var(--light-font-color);
    font-weight: bold;
}

.title {
    font-size: 4rem;
}

.player1,
.player2 {
    display: flex;
    font-size: 2rem;
}

.player1-score,
.player2-score {
    margin-left: 1rem;
}

/*main*/

.round-label {
    box-sizing: border-box;
    height: 10vh;
    background-color: var(--main-bg-color);
    color: var(--light-font-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

.game-board {
    display: grid;
    width: 100vW;
    height: 75vh;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    justify-content: center;
    align-content: center;
    padding: auto;
    gap: 1rem;
    background-color: var(--main-bg-color);
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9BB9BF;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    place-self: center;
    cursor: pointer;
}

/*footer*/

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5 1rem;
    background-color: var(--footer-bg-color);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.github-link {
    margin: 0 .5rem;
}

.footer-container,
.github-link {
    color: var(--light-font-color);
}

.github-icon {
    height: 5vh;
}